#welcome {
  margin-top: 6em;
}

.register, .login {
  margin-top: 6em;
}

.register-fail, .login-fail {
  margin-bottom: 1em;
}

.login .last-p {
  margin-bottom: 2em;
}

.jumbotron h1 {
  text-align: center;
}

.bigbutton {
  text-align: center;
  padding: 24px 48px;
  font-size: 24px;
  line-height: 1.33;
  border-radius: 0;
}
