{% extends "base.html" %}


{% block body %}
  <div class="jumbotron" id="welcome">
    <h1>Welcome to Flask-Stormpath!</h1>
    <p class="lead">
      <br />
      <br />
      Welcome to this <i>gloriously simple</i> Flask-Stormpath sample
      application! First, take a look through the very basic site -- then, check
      out this project's source code
      <a href="https://github.com/rdegges/blah">on GitHub</a>, and get your own
      site(s) using Flask-Stormpath in no time at all!
      <br />
      <br />
      This simple application demonstrates how easy it is to register, login,
      and securely authenticate users on your website using Flask-Stormpath.
      <br />
      <br />
      Aren't a Stormpath user yet? <a href="https://stormpath.com">Go signup now!</a>
    </p>
    <p class="bigbutton"><a class="bigbutton btn btn-lg btn-danger" href="{{ url_for('login') }}" role="button">Register</a></p>
  </div>
{% endblock %}
