{% extends "base.html" %}


{% block body %}
  <div class="register">
    <div class="row">
      <div class="col-lg-6 col-lg-offset-3">
        <form class="bs-example form-horizontal" method="post" action="">
          <fieldset>
            <legend>Create a New Account</legend>
            {% if error %}
              <div class="alert alert-dismissable alert-danger register-fail">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                {{ error }}
              </div>
            {% endif %}
            <p>
              Registering for this site will create a new user account for you via
              <a href="https://stormpath.com">Stormpath</a>, then log you in
              automatically.
            </p>
            <div class="alert alert-dismissable alert-info">
              <button type="button" class="close" data-dismiss="alert">&times;</button>
              <strong>NOTE</strong> Your password must be between 8 and 100
              characters, and must contain lowercase letters, uppercase letters,
              and numbers.
            </div>
            <div class="form-group">
              <label for="email" class="col-lg-4 control-label">Email</label>
              <div class="col-lg-4">
                <input type="email" class="form-control" id="email" name="email" placeholder="Email" autofocus>
              </div>
            </div>
            <div class="form-group">
              <label for="password" class="col-lg-4 control-label">Password</label>
              <div class="col-lg-4">
                <input type="password" class="form-control" id="password" name="password" placeholder="Password">
              </div>
            </div>
            <div class="form-group">
              <div class="col-lg-10 col-lg-offset-4">
                <button type="submit" class="btn btn-primary">Register</button>
              </div>
            </div>
          </fieldset>
        </form>
        <h2>A Note About Stormpath Security</h2>
        <p>
          Stormpath user creation is incredibly secure, is not susceptible to any
          known vulnerabilities (MITM, hashing issues, replay attacks, etc.), and
          provides you with a number of options to improve security (including
          built-in email verification, among other things).  We will not verify
          your account by email now, but this can be easily enabled.
        </p>
        <p class="last-p">
          Stormpath can also be configured to allow for weaker (or force stronger)
          passwords, so it can fit into any application workflow.
        </p>
      </div>
    </div>
  </div>
{% endblock %}
